<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
    <link rel="style" href="static/style.css">
 <style>
 p { 
    text-align: center;
    padding: 70px 0;
    color:black; 
    background-color:#f0d39e;
}
</style>
</head>
<body>
    <p>
    <b>{{.StatusCode}}</b>
    <br>
    <br>
    <b>{{.StatusText}}</b>
    </p>
</body>
</html>